header {
    text-align: center;

    h1 {
        font-size: 3rem;
        margin: 35px 0 25px;

        img {
            max-width: 500px;
            width: 35vw;

            @media (max-width: 1024px) {
                width: 77vw;
            }
        }
    }
}

.links {
    position: fixed;
    top: 50px;
    left: 20px;
    display: flex;
    flex-direction: column;
    fill: $darkgrey;

    a {
        transition: all .3s ease-in-out;
        margin:0 0 10px 0;

        &:hover {
            fill: $accent;
            padding-left: 15px;
        }
    }
}